@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body, html{
    height: 100%;
    .clear{
        clear: both;
    }
    .right-panel{
        height: 100vh;
    }
}
#app{
    height: 100%;
}
form{
    .col-form-label{
        text-align: right;
        font-size: 13px;
        padding-right: 0;
        line-height: 15px;
    }
}